<?xml version="1.0"?>
{% set firstElement = feeds|first %}
<rss version="2.0">
    <channel>
        <title>RSS-Feed</title>
        <pubDate>{{ firstElement.date_indexed }}</pubDate>
        <lastBuildDate>{{ firstElement.date_indexed }}</lastBuildDate>
        <description>RSS-Feed</description>
        {% for feed in feeds %}
            <item>
                <title>{{ feed.title | first }}</title>
                <link>{{ feed.purl }}</link>
                <pubDate>{{ feed.date_indexed }}</pubDate>
                <description><![CDATA[
                    {{ feed.date_indexed|date("d.m.Y") }}
                ]]></description>
            </item>
        {% endfor %}
    </channel>
</rss>
