{% extends 'base.html.twig' %}

{% block title %}Result list{% endblock %}

{% block findnavigation %}
    <div class="resultCount">{{ pagination.getTotalItemCount }} {% trans %}numfound{% endtrans %}</div>
   {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block body %}

    <ol class="resultList" start="{{ offset }}">
        {% for result in pagination %}
            <li>
                <article>
                    <h1><a href="{{ path('subugoe_find_detail', {'id': result.fields.id}) }}">{{ result.fields.title | first }}</a></h1>
                </article>
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block sidebar %}
    {% for key, facet in facets %}
        <article class="facet">
            <h1>{{ key | trans }}</h1>

            <ol class="facetList">
                {% for value, count in facet if count > 0 %}
                    {% set facet_name = ['facet', key]|join('-') %}
                    <li>
                        <a href="{{ path('subugoe_find_homepage', {
                            'filter': queryParams|merge({
                                (facetCounter):  {
                                    (key) : (value)
                                }
                            }
                            )})}}">{{ value | trans }} <span class="facetCount">{{ count }}</span></a>
                    </li>
                {% endfor %}
            </ol>
        </article>
    {% endfor %}
{% endblock %}
